.Rproj.user
.Rhistory
.RData
.Ruserdata
path/naar/e85_count_matrix.mtx.gz
path/naar/e85_count_matrix.csv.gz
seurat/data/e85_feature_metadata.csv.gz
seurat/data/e85_feature_metadata.csv.gz
seurat/data/e85_count_matrix.mtx.gz
seurat/data/e85_count_matrix.csv.gz

# Grote bestanden uitsluiten
*.fastq
*.fq
*.pdf
*.RData
*.bam
.DS_Store
seurat/*.pdf
raw_data/*
!raw_data/e85_srr_list.txt

