# R project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# macOS system file
.DS_store

# seurat data - grote bestanden uitsluiten
seurat/data/*

# laat optioneel één bestand toe in raw_data/
!raw_data/e85_srr_list.txt
# alles in raq_data negeren behalve het bovenstaande
raw_data/*

# output en tijdelijk bestanden
*.fastq
*.fq
*.pdf
*.RData
*.bam

# eventueel losse exports of figuren in seurat/
seurat/*.pdf



